@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&family=Poppins:wght@200;300&family=Roboto+Mono:ital,wght@0,100;0,300;1,300&family=Roboto:wght@300;400;500&display=swap");
body {
  background-color: rgb(223, 224, 201);
}

p {
  font-size: 1.8rem;
}

h2 {
  font-size: 4rem;
}
